html {

    background-color: #eee;

    /* background-color: #809ABD; */

    /* background-color: #53729c; */

}



table {

    border-collapse: collapse;

    padding:0px;

    margin:0px;

    text-align: left;

    font-size: small;

}



thead {

    background-color:#8EA9C2;

    color:#fff; 

}



th {

    padding-left:0.5em;

    padding-right:0.5em;

    border: 1px solid black;

}



td {

   padding: 3px;

   padding-left: 5px;

}



#wrapper {

    width: 1000px;

    margin-left:auto;

    margin-right:auto;

	text-align: left;

	

	background-image: url('icons/right-side.jpg');

    background-repeat: no-repeat;

    background-position: top right;

    

    background-color:#d9e2e9;

    

    margin-top:20px;

    margin-bottom:20px;

    border:1px solid gray;

    padding:20px;

    padding-bottom:0px;      

    

    /* param 1,2,3,4: shift right, shift down, fuzziness, and shadow width, respectively */

    -moz-box-shadow:    -1px 1px 2px 1px #bbb;

  	-webkit-box-shadow: -1px 1px 2px 1px #bbb;

 	box-shadow:         -1px 1px 2px 1px #bbb;

 	

 	border-radius:6px;

}



#preview {

	-moz-box-shadow:    -1px 1px 2px 1px #bbb;

  	-webkit-box-shadow: -1px 1px 2px 1px #bbb;

 	box-shadow:         -1px 1px 2px 1px #bbb;

 	

 	/* border-radius:6px; */

 	

 	font-size:90%;

 	border:1px solid gray;

 	background-color:rgba(255,255,255,0.7);

 	padding:2px 4px 2px 4px;

 	width:auto;

 	max-width:350px;

}



#univbranding {

	text-align:center;

	margin-left: auto;

	margin-right: auto;

}





body {

    min-width:1000px;

    min-height:770px;

    font-family: arial, sans-serif; 

    text-align:center;

}



.links {

    color:blue; 

    text-decoration:none;

}



div.links:hover {

    cursor:pointer; 

}



#admin-bar {

    float:left;

    margin-top:0px;

    margin-bottom:20px;

    width:530px;

    background-color:#8EA9C2;

    color:#fff;

    border-top:0px;

    padding:5px 10px 5px 10px;

    font-weight:bold;

}



#admin-bar  a {

    color:#fff;

}    



.mwplayer_interface, mv-player {

    float:left;

    clear:both;

}



#vp {

    float:left;

    width:549px;

    height:350px;

    clear:left;

    background-color:black;

}



#recording-annotation {

    z-index:9;

    position:absolute;

    left:445px;

    top:112px;

}



#annotation-highlight {

    width:50px;

    height:16px;

    position:relative;

    left:30px;

    top:-24px;

    background-color:#58a0dc;

    z-index:-2;

    display: none;

}



#annotation-trends {

    float:left;

    height:auto;

    background-color:#8EA9C2;

    margin:0px;

    margin-left:0px;

    border-top:0px;

    padding:4px 0px 0px 0px;

}



#buttons {

    clear:left;

    float:left;

    width:530px;

    padding:3px 10px 5px 10px;

    margin-top:10px;

    background-color:#8EA9C2;

    color:white;

    font-weight:bold;

}



#buttons img {

    float:right;

    vertical-align: middle;

    cursor: pointer;

    margin-left: 5px;

}



#annotation-container {

    color:#000;

    height:224px;

    background-color:#fff;

    float:left;

    padding-left:0px;

    padding-right:0px;

    margin:0px;

    clear:left;

    z-index:999;

    cursor:crosshair;

}



a.timeline-scroller img {

    border:0;

    margin:0;

    text-decoration:none;

}

    

#annotation-list {

    overflow-y: auto;

    position:absolute;             

    border:0px solid black;

    float:left;

    height:200px;

    width:550px;

    background-image:url('icons/annotation_list_percentage.png'); 

}



.annotation-list-item {

    float:left;

    cursor:pointer;

}



/* link style */ 

a:link {color:#003399;}    

a:visited {color:#993366;} 

a:hover {color:#0066FF;} 

a:active {color:#FF0000;}  



#annotation-container h3, #annotation-trends h3 {

    text-align:left;

    background-color:#8EA9C2;

    color:#fff;

    font-weight:bold;

    font-size:15px;

    height:20px;

    margin:0px;

    margin-left:0px;

    width:530px;

    padding:0px 10px 4px 10px;

    border-bottom:0px;

    margin:0px;

}



#timelinecontainer-locked {

    background-color:#aff;

    background-image:url('recording.gif');

    display:none;

}



#annotation-form {

/*    border: 1px solid black; */

    width:380px;

    margin-top:-43px;

    display:none;

    float:right;

    padding-left:20px;

    padding-bottom:20px;

    z-index:10;

    background-color:#fff;

    border:1px solid gray;

    border-radius:4px;

    position: relative;

}



#annotation-form1 {

/*    border: 1px solid black; */

    width:380px;

    margin-top:-43px;

    display:none;

    float:right;

    padding-left:20px;

    padding-bottom:20px;

    z-index:10;

    background-color:#fff;

    border:1px solid gray;

    border-radius:4px;

    position: relative;

}









.form { 

    width:770px;

    padding:15px;

    padding-top:0;

    margin-top:0;

    border:1px solid;

    clear:both;

    background-color:#fff;

}



.form h3 {

    background-color:#8EA9C2;

    margin:0 -15px 10px -15px;

    padding-left:10px;

    padding-top:4px;

    padding-bottom:4px;

    color:#fff;

    border-bottom:1px solid #888;

}



#annotation-start-end-time {

    background-color: #eee;

    padding:0.5em;

    padding-right:1em;

    width:21em;

    height:1.2em;

    border:1px solid #aaa;

    font-weight:bold;

    margin-bottom:1em;

    text-align:right;

    float:left;

}



.annotation-label, .label {

    text-align:left;

    font-weight:bold;

    color:#555;

    margin:0px;

    padding:0px;

display:inline-block;

}



.annotation-settings {

    position:absolute;

/*    border:1px solid #ccc; */

    padding:2px 4px 2px 4px;

    margin:1px;

    background-color: #fff;

    height:40px;

}



#message-dialog .dialog-buttons, .dialog-buttons {

    height:18px; 

    width:80px; 

    padding:2px;

    padding-left:0px;

    padding-right:50px;

    color:black; 

    text-decoration:underline;

}



ul {

    margin:0px;

    margin-top:4px;

    padding:0;

}



li {

    width:550px;

    height:17px;

    /* height:11px; */

    list-style-type:none; 

}



#instructions {

    border: 1px solid black;

    margin-bottom:10px;

    padding-left:10px;

    width:740px;

    background-color:white;

}



#comments {

    margin-left:577px;

    padding:0px;

/*    border:1px solid black; */

    width:443px;

    height:534px;

    float:right;

    position:absolute;

    margin-right:-20px;

    margin-top:0px;

/*    opacity:0.9; */

    background-color:inherit;

    z-index:1;

}



#comments ul {

    margin:0px;

    padding:0px;

    height:79%;

    overflow:scroll;

    overflow-x: hidden; 

    overflow-y: auto;

    border-bottom:1px solid gray;



/*    overflow:-moz-scrollbars-vertical; */

}
#comments .qns {

    margin:0px;

    line-height:20px;

    padding-left: 10px;

    padding-right: 10px;

    cursor:pointer;

    overflow:scroll;

    overflow-x: hidden; 

    overflow-y: auto;

    border-bottom:1px solid gray;



/*    overflow:-moz-scrollbars-vertical; */

}

#comments .qns button{

    background-color: #7295b1; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	float: right;
	margin: 5px;



/*    overflow:-moz-scrollbars-vertical; */

}



#comments > ul > li {

    width:auto;

    height:auto;

    border-bottom: 1px solid gray;

/*    padding: 1px; */

    line-height:20px;

    padding-left: 10px;

    padding-right: 10px;

    cursor:pointer;

/*    text-wrap:none; */

}



#comments > h3 {

    color:white;

    margin:0px;

    height:5%;

    background-color:#8EA9C2;

    border-top: 1px solid gray;

    border-bottom: 1px solid gray;

    padding-left:10px;

}



.child {

    background-color:white;

}



.child{

    margin-left: 20px;

}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(75, 153, 221, 0.75) 1.5em 0 0 0, rgba(75, 153, 221, 0.75) 1.1em 1.1em 0 0, rgba(75, 153, 221, 0.75) 0 1.5em 0 0, rgba(75, 153, 221, 0.75) -1.1em 1.1em 0 0, rgba(75, 153, 221, 0.5) -1.5em 0 0 0, rgba(75, 153, 221, 0.5) -1.1em -1.1em 0 0, rgba(75, 153, 221, 0.75) 0 -1.5em 0 0, rgba(75, 153, 221, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(75, 153, 221, 0.75) 1.5em 0 0 0, rgba(75, 153, 221, 0.75) 1.1em 1.1em 0 0, rgba(75, 153, 221, 0.75) 0 1.5em 0 0, rgba(75, 153, 221, 0.75) -1.1em 1.1em 0 0, rgba(75, 153, 221, 0.75) -1.5em 0 0 0, rgba(75, 153, 221, 0.75) -1.1em -1.1em 0 0, rgba(75, 153, 221, 0.75) 0 -1.5em 0 0, rgba(75, 153, 221, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* End of Absolute Center Spinner */